.img_1{
    background-image: url("https://lh3.googleusercontent.com/proxy/6BbhAUodojcQyBG-8gzqRBoWlbKIxsLzsksFqD2AbSzLbVYSnxaqO1tv7691N5YHZc_06jqdDWXtSf8nsSyVKJw38a5c0jnAnHYD0QhYvqk7T9k401M9ERVqJ55XdEpFEYwCfbU");
    width:500px;
    height: 500px;
}