.NavbarItems{
    background: linear-gradient(90deg,rgb(110,94,254)0%, rgba(73,63,252,1) 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo{
    color:#fff;
    justify-content: start;
    margin-left: 20px;
    cursor:pointer;
}

.fa-react {
    margin-left:0.5rem;
    font-size: 1.6rem;
}






/* nav {
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type:none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    text-decoration: none;
} */