header {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: cadetblue;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}


