.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.footerLinks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footerLinks a {
    text-decoration: none;
    border-style: solid;
    border-color: black;
    border-radius: 15px;
    width: 40%;
    text-align: center;
}

.footerLinks a:hover {
    background-color: black;
    color:white;
}

@media screen and (max-width: 600px) {
    .footerLinks a {
        background-color: black;
        color: white;
        border-color: white;
    }
}